In [1]:
%jar /home/ati/work/rapaio-jupyter-kernel/rapaio-jupyter-display/target/rapaio-jupyter-display-2.3.0.jar

Add /home/ati/work/rapaio-jupyter-kernel/rapaio-jupyter-display/target/rapaio-jupyter-display-2.3.0.jar to classpath

In [2]:
HashMap<Integer, String> numbers = new HashMap();

In [3]:
numbers.put(1,"one");
numbers.put(2, "two");
numbers.put(3, "three");

In [4]:
display("md",numbers);

|  |Key |Value |
| --- |--- |--- |
| **0** |1 |one |
| **1** |2 |two |
| **2** |3 |three |

In [5]:
display("text", numbers)

Not implemented yet.

In [6]:
Collection<Integer> intSet = new HashSet<>();
for(int i=0; i<1000; i++) {
    intSet.add(i);
};
display("html",intSet)

In [7]:
Map<Integer,String> map = Map.of(1,"unu",2,"doi");
display("html", map)

,Key,Value
0,1,unu
1,2,doi

In [8]:
display("html", config().getMapValues());

,Key,Value
0,display.defaultMime,text/html
1,display.defaultMimeImage,image/png
2,display.maxRows,12

In [9]:
Map<Integer, Long> rand = new HashMap<>();
Random random = new Random(42);
for(int i=0; i<100; i++) {
    rand.put(random.nextInt(), random.nextLong());
}
rand

,Key,Value
0,-1722981815,5237546058537329955
1,-965849238,6761878752606610920
2,-92098428,-1859333492470500327
3,861476190,-4833386015446520969
4,-876048960,-6731013670330063931
5,1605614013,-1466231107775476343
6,-1728144145,-8585557218258330957
7,346408118,-5286721520629762393
8,1205047495,-6799843349476231738
9,-1508419830,8436011436776032633
10,-1519422095,-413540901311398836
11,1707404773,-3151923268817835042
12,-1839876745,6335527923738126716
13,...,...

In [10]:
display("html", "<table border=\"1\" class=\"dataframe\">\n  <thead>\n    <tr style=\"text-align: right;\">\n      <th></th>\n      <th>Foo</th>\n      <th>Bar</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>3</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>5</td>\n      <td>6</td>\n    </tr>\n  </tbody>\n</table>")

,Foo,Bar
0,1,2
1,3,4
2,5,6

In [11]:
config().display().maxRows(24)

In [12]:
Map<Integer, Integer> sorted = new TreeMap();
for(int i=0;i<100;i+=2) {
    sorted.put(i, i+1);
}
display("md", sorted)

|  |Key |Value |
| --- |--- |--- |
| **0** |0 |1 |
| **1** |2 |3 |
| **2** |4 |5 |
| **3** |6 |7 |
| **4** |8 |9 |
| **5** |10 |11 |
| **6** |12 |13 |
| **7** |14 |15 |
| **8** |16 |17 |
| **9** |18 |19 |
| **10** |20 |21 |
| **11** |22 |23 |
| **12** |24 |25 |
| **13** |26 |27 |
| **14** |28 |29 |
| **15** |30 |31 |
| **16** |32 |33 |
| **17** |34 |35 |
| **18** |36 |37 |
| **19** |38 |39 |
| **20** |40 |41 |
| **21** |42 |43 |
| **22** |44 |45 |
| **23** |46 |47 |
| **24** |48 |49 |
| **25** |... |... |